#articles{
	border: 10px solid grey;
	width: 70%;
	float: left;
	margin-left: 15%;
	margin-right: 15%;
}

.title{
	font-size: 20px;
	text-decoration-color: blue;
	font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
	font-weight: bold;
}

p{
	margin-left: 2%;
}

.p1{
	border-left: 5px solid grey;
	padding-left: 5px;
}

.article{
	/*border-bottom: 1px solid grey;*/
	width: 90%;
	margin-left: 5%;
}

.date{
	text-transform: uppercase;
	font-weight: bold;
	color: #4ECBF5;
	letter-spacing: 2px;
}

hr{
	width: 90%;
}

hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}